:root{
    --primary-color: #357b70;
}

body{
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  color: #2b2b2b;
  text-align: center;
}

h1{
  font-size: 30px;
  font-weight: 700;
  color: var(--primary-color);
  text-align: center;
}
